<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>formInicioSesion</servlet-name>
        <servlet-class>general.formInicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuProfesor</servlet-name>
        <servlet-class>profesor.menuProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio1</servlet-name>
        <servlet-class>profesor.adminEjercicio1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio2</servlet-name>
        <servlet-class>profesor.adminEjercicio2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio3</servlet-name>
        <servlet-class>profesor.adminEjercicio3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio4</servlet-name>
        <servlet-class>profesor.adminEjercicio4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio5</servlet-name>
        <servlet-class>profesor.adminEjercicio5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio6</servlet-name>
        <servlet-class>profesor.adminEjercicio6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio7</servlet-name>
        <servlet-class>profesor.adminEjercicio7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio8</servlet-name>
        <servlet-class>profesor.adminEjercicio8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuAdministrador</servlet-name>
        <servlet-class>administrador.menuAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarUsuario</servlet-name>
        <servlet-class>administrador.agregarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarUsuario</servlet-name>
        <servlet-class>administrador.modificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administrarUsuario</servlet-name>
        <servlet-class>administrador.administrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>administrador.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuAlumno</servlet-name>
        <servlet-class>alumno.menuAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyUser</servlet-name>
        <servlet-class>administrador.modifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>administrador.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarUsuario</servlet-name>
        <servlet-class>administrador.eliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administrarGrupos</servlet-name>
        <servlet-class>administrador.administrarGrupos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarGrupo</servlet-name>
        <servlet-class>administrador.eliminarGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarGrupo</servlet-name>
        <servlet-class>administrador.agregarGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addGroup</servlet-name>
        <servlet-class>administrador.addGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>formInicioSesion</servlet-name>
        <url-pattern>/formInicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuProfesor</servlet-name>
        <url-pattern>/menuProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio1</servlet-name>
        <url-pattern>/adminEjercicio1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio2</servlet-name>
        <url-pattern>/adminEjercicio2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio3</servlet-name>
        <url-pattern>/adminEjercicio3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio4</servlet-name>
        <url-pattern>/adminEjercicio4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio5</servlet-name>
        <url-pattern>/adminEjercicio5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio6</servlet-name>
        <url-pattern>/adminEjercicio6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio7</servlet-name>
        <url-pattern>/adminEjercicio7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio8</servlet-name>
        <url-pattern>/adminEjercicio8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuAdministrador</servlet-name>
        <url-pattern>/menuAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarUsuario</servlet-name>
        <url-pattern>/agregarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarUsuario</servlet-name>
        <url-pattern>/modificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administrarUsuario</servlet-name>
        <url-pattern>/administrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuAlumno</servlet-name>
        <url-pattern>/menuAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyUser</servlet-name>
        <url-pattern>/modifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarUsuario</servlet-name>
        <url-pattern>/eliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administrarGrupos</servlet-name>
        <url-pattern>/administrarGrupos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarGrupo</servlet-name>
        <url-pattern>/eliminarGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarGrupo</servlet-name>
        <url-pattern>/agregarGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addGroup</servlet-name>
        <url-pattern>/addGroup</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
