<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>formInicioSesion</servlet-name>
        <servlet-class>general.formInicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuProfesor</servlet-name>
        <servlet-class>profesor.menuProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuAdministrador</servlet-name>
        <servlet-class>administrador.menuAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarUsuario</servlet-name>
        <servlet-class>administrador.agregarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarUsuario</servlet-name>
        <servlet-class>administrador.modificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administrarUsuario</servlet-name>
        <servlet-class>administrador.administrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>administrador.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuAlumno</servlet-name>
        <servlet-class>alumno.menuAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyUser</servlet-name>
        <servlet-class>administrador.modifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>administrador.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarUsuario</servlet-name>
        <servlet-class>administrador.eliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administrarGrupos</servlet-name>
        <servlet-class>administrador.administrarGrupos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarGrupo</servlet-name>
        <servlet-class>administrador.eliminarGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarGrupo</servlet-name>
        <servlet-class>administrador.agregarGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addGroup</servlet-name>
        <servlet-class>administrador.addGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarGrupo</servlet-name>
        <servlet-class>administrador.modificarGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyGroup</servlet-name>
        <servlet-class>administrador.modifyGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorValidacion</servlet-name>
        <servlet-class>general.errorValidacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicios</servlet-name>
        <servlet-class>profesor.adminEjercicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminGrupos</servlet-name>
        <servlet-class>profesor.adminGrupos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarEjercicio</servlet-name>
        <servlet-class>profesor.agregarEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addExercise</servlet-name>
        <servlet-class>profesor.addExercise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarEjercicio</servlet-name>
        <servlet-class>profesor.modificarEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyExercise</servlet-name>
        <servlet-class>profesor.modifyExercise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarEjercicio</servlet-name>
        <servlet-class>profesor.eliminarEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFiles</servlet-name>
        <servlet-class>profesor.uploadFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dragAndDropInstruccion</servlet-name>
        <servlet-class>profesor.dragAndDropInstruccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dragAndDropImagen</servlet-name>
        <servlet-class>profesor.dragAndDropImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dragAndDropAudioImagen</servlet-name>
        <servlet-class>profesor.dragAndDropAudioImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verEjercicio</servlet-name>
        <servlet-class>profesor.verEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarAudioInstruccion</servlet-name>
        <servlet-class>profesor.modificarAudioInstruccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarImagen</servlet-name>
        <servlet-class>profesor.modificarImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarAudioImagen</servlet-name>
        <servlet-class>profesor.modificarAudioImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>general.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resolverEjercicios</servlet-name>
        <servlet-class>alumno.resolverEjercicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verCalificaciones</servlet-name>
        <servlet-class>alumno.verCalificaciones</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>formInicioSesion</servlet-name>
        <url-pattern>/formInicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuProfesor</servlet-name>
        <url-pattern>/menuProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuAdministrador</servlet-name>
        <url-pattern>/menuAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarUsuario</servlet-name>
        <url-pattern>/agregarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarUsuario</servlet-name>
        <url-pattern>/modificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administrarUsuario</servlet-name>
        <url-pattern>/administrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuAlumno</servlet-name>
        <url-pattern>/menuAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyUser</servlet-name>
        <url-pattern>/modifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarUsuario</servlet-name>
        <url-pattern>/eliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administrarGrupos</servlet-name>
        <url-pattern>/administrarGrupos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarGrupo</servlet-name>
        <url-pattern>/eliminarGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarGrupo</servlet-name>
        <url-pattern>/agregarGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addGroup</servlet-name>
        <url-pattern>/addGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarGrupo</servlet-name>
        <url-pattern>/modificarGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyGroup</servlet-name>
        <url-pattern>/modifyGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorValidacion</servlet-name>
        <url-pattern>/errorValidacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicios</servlet-name>
        <url-pattern>/adminEjercicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminGrupos</servlet-name>
        <url-pattern>/adminGrupos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarEjercicio</servlet-name>
        <url-pattern>/agregarEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addExercise</servlet-name>
        <url-pattern>/addExercise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarEjercicio</servlet-name>
        <url-pattern>/modificarEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyExercise</servlet-name>
        <url-pattern>/modifyExercise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarEjercicio</servlet-name>
        <url-pattern>/eliminarEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFiles</servlet-name>
        <url-pattern>/uploadFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dragAndDropInstruccion</servlet-name>
        <url-pattern>/dragAndDropInstruccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dragAndDropImagen</servlet-name>
        <url-pattern>/dragAndDropImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dragAndDropAudioImagen</servlet-name>
        <url-pattern>/dragAndDropAudioImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verEjercicio</servlet-name>
        <url-pattern>/verEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarAudioInstruccion</servlet-name>
        <url-pattern>/modificarAudioInstruccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarImagen</servlet-name>
        <url-pattern>/modificarImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarAudioImagen</servlet-name>
        <url-pattern>/modificarAudioImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resolverEjercicios</servlet-name>
        <url-pattern>/resolverEjercicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verCalificaciones</servlet-name>
        <url-pattern>/verCalificaciones</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
