<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>formRegistrar</servlet-name>
        <servlet-class>general.formRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formInicioSesion</servlet-name>
        <servlet-class>general.formInicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuProfesor</servlet-name>
        <servlet-class>profesor.menuProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>general.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio1</servlet-name>
        <servlet-class>profesor.adminEjercicio1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio2</servlet-name>
        <servlet-class>profesor.adminEjercicio2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio3</servlet-name>
        <servlet-class>profesor.adminEjercicio3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio4</servlet-name>
        <servlet-class>profesor.adminEjercicio4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio5</servlet-name>
        <servlet-class>profesor.adminEjercicio5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio6</servlet-name>
        <servlet-class>profesor.adminEjercicio6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio7</servlet-name>
        <servlet-class>profesor.adminEjercicio7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEjercicio8</servlet-name>
        <servlet-class>profesor.adminEjercicio8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuAdministrador</servlet-name>
        <servlet-class>administrador.menuAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarProfesor</servlet-name>
        <servlet-class>administrador.agregarProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarProfesor</servlet-name>
        <servlet-class>administrador.modificarProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administrarProfesores</servlet-name>
        <servlet-class>administrador.administrarProfesores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>formRegistrar</servlet-name>
        <url-pattern>/formRegistrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formInicioSesion</servlet-name>
        <url-pattern>/formInicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuProfesor</servlet-name>
        <url-pattern>/menuProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio1</servlet-name>
        <url-pattern>/adminEjercicio1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio2</servlet-name>
        <url-pattern>/adminEjercicio2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio3</servlet-name>
        <url-pattern>/adminEjercicio3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio4</servlet-name>
        <url-pattern>/adminEjercicio4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio5</servlet-name>
        <url-pattern>/adminEjercicio5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio6</servlet-name>
        <url-pattern>/adminEjercicio6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio7</servlet-name>
        <url-pattern>/adminEjercicio7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEjercicio8</servlet-name>
        <url-pattern>/adminEjercicio8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuAdministrador</servlet-name>
        <url-pattern>/menuAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarProfesor</servlet-name>
        <url-pattern>/agregarProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarProfesor</servlet-name>
        <url-pattern>/modificarProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administrarProfesores</servlet-name>
        <url-pattern>/administrarProfesores</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
